body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  font-family: 'Arial', sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  display: flex;
  flex-direction: row;
  width: 1000px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: white;
}


.login-left {
  flex: 1;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-image {
  width: 100%;
  max-width: 500px;
}

.login-right {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-title {
  text-align: center;
  color: #333;
  margin-bottom: 50px; 
  padding-bottom: 20px; 
}

.google-button {
  background: #db4437;
  color: white;
  padding: 12px;
  font-size: 16px;
  margin-top: 30px;
}


button {
  border-radius: 15px;
  width: 20px;

}
.google-button:hover {
  background: #c1351d;
}